<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-toggle>
        <ion-menu-button></ion-menu-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Provider Stack</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    The Provider Stack component presents a vertical stack of buttons for each
    provider specified in the <em>providers</em> property of your configuration
    settings. The default for this setting is <em>AuthProviderId.All</em> which
    displays a button for all providers supported by the library. By default the
    Email/Password button is hidden, but it can be enabled if you are using the
    bar as a separate component and want to navigate to your own page to capture
    the email and password without using other components in the library.
  </p>
  <h3>Try It Out</h3>
  <p>
    An instance of the Provider Stack component is declared directly below this
    paragraph. The attributes you can use to control it are detailed below.
    Controls below allow you to experiment with the configuration and see the
    effect.
  </p>
  <ionngx-firebase-auth-ui-provider-stack
    [hideEmailPasswordButton]="hideEmailPasswordButton"
    (emailPasswordSelected)="handleEmailPasswordSelected()"
  ></ionngx-firebase-auth-ui-provider-stack>
  <h4>Current Settings</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="4"> hideEmailPasswordButton</ion-col>
      <ion-col size="4">
        <ion-toggle [(ngModel)]="hideEmailPasswordButton"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h4>Usage</h4>  
  <p>This page declares the Provider Stack in the template like this</p>
  <pre>
    &lt;ionngx-firebase-auth-ui-provider-stack
      [hideEmailPasswordButton]="hideEmailPasswordButton"
      (emailPasswordSelected)="handleEmailPasswordSelected()"&gt;
    &lt;/ionngx-firebase-auth-ui-provider-stack&gt;
  </pre>
  <h4>Attributtes</h4>
  <section class="attribute-section">
    <section class="attribute-section-header">
      <h5>hideEmailPasswordButton</h5>
      <p>Indicates whether the Email/Password button should be hidden</p>
    </section>
    <table>
      <tbody>
        <tr>
          <td>Type</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>true</td>
        </tr>
      </tbody>
    </table>
  </section>
  <h4>Events</h4>
  <section class="attribute-section">
    <section class="attribute-section-header">
      <h5>emailPasswordSelected</h5>
      <p>
        Emitted when hideEmailPasswordButton is false and the user clicks on the
        Email/Password button. Use this even to provide your own component for
        capturing the email and password.
      </p>
    </section>
    <table>
      <tbody>
        <tr>
          <td>Payload</td>
          <td>void</td>
        </tr>
      </tbody>
    </table>
  </section>
</ion-content>
