<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-toggle>
        <ion-menu-button></ion-menu-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    The Avatar component allows you to display the authenticated status of users
    and optionally a user focused popup. It supports two modes, Default and
    Simple. In both modes the default behaviour is to display the
    <ion-icon ios="person-circle-outline" md="person-circle-sharp"></ion-icon>
    icon as a placeholder when the user is not signed in. However you can change
    this to hide the Avatar component when the user is not signed in.
  </p>
  <p>
    A common use case for the Avatar component is to provide the user with a
    simple way to sign in/out and see their status from a heaader or navigation
    bar as this demo application does.
  </p>
  <h3>Try It Out</h3>
  <p>
    An instance of the Avatar component is declared directly below this
    paragraph. The attributes you can use to control it are detailed below.
    Use the controls below to test the effect of different settings.
    <em>To see the effect of most changes you will need to click on the avatar icon</em>
  </p>
  <ionngx-firebase-auth-ui-avatar
    [mode]="selectedMode"
    [hideWhenAnonymous]="hideWhenAnonymous"
    [canSignIn]="canSignIn"
    [canSignOut]="canSignOut"
    [canSignUp]="canSignUp"
    [canViewProfile]="canViewProfile"
    [showDisplayName]="showDisplayName"
    [displayNameLocation]="displayNameLocation"
  >
  </ionngx-firebase-auth-ui-avatar>
  <h4>Current Settings</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-lg="3"> mode</ion-col>
      <ion-col size="6" size-lg="3">
        <ion-select [(ngModel)]="selectedMode">
          <ion-select-option value="default">Default</ion-select-option>
          <ion-select-option value="simple">Simple</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6" size-lg="3"> hideWhenAnonymous</ion-col>
      <ion-col size="6" size-lg="3">
        <ion-toggle [(ngModel)]="hideWhenAnonymous"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-lg="3"> canSignIn</ion-col>
      <ion-col size="6" size-lg="3">
        <ion-toggle [(ngModel)]="canSignIn"></ion-toggle>
      </ion-col>
      <ion-col size="6" size-lg="3"> canSignOut</ion-col>
      <ion-col size="6" size-lg="3">
        <ion-toggle [(ngModel)]="canSignOut"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-lg="3"> canSignUp</ion-col>
      <ion-col size="6" size-lg="3">
        <ion-toggle [(ngModel)]="canSignUp"></ion-toggle>
      </ion-col>
      <ion-col size="6" size-lg="3"> canViewProfile</ion-col>
      <ion-col size="6" size-lg="3">
        <ion-toggle [(ngModel)]="canViewProfile"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-lg="3"> showDisplayName</ion-col>
      <ion-col size="6" size-lg="3">
        <ion-toggle [(ngModel)]="showDisplayName"></ion-toggle>
      </ion-col>
      <ion-col size="6" size-lg="3"> displayNameLocation</ion-col>
      <ion-col size="6" size-lg="3">
        <ion-select [(ngModel)]="displayNameLocation">
          <ion-select-option value="left">Left</ion-select-option>
          <ion-select-option value="right">Right</ion-select-option>
          <ion-select-option value="above">Above</ion-select-option>
          <ion-select-option value="below">Below</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h4>Usage</h4>  
  <p>This page declares the Avatar component in the template like this</p>
  <pre>
    &lt;ionngx-firebase-auth-ui-avatar
      [mode]="selectedMode"
      [hideWhenAnonymous]="hideWhenAnonymous"
      [canSignIn]="canSignIn"
      [canSignOut]="canSignOut"
      [canSignUp]="canSignUp"
      [canViewProfile]="canViewProfile"
      [showDisplayName]="showDisplayName",
      [displayNameLocation]="displayNameLocation"&gt;
    &lt;/ionngx-firebase-auth-ui-avatar&gt;
  </pre>
  <h4>Attributes</h4>
  <section class="attribute-section">
    <section class="attribute-section-header">
      <h5>additionalLinks</h5>
      <p>Optional collection of additional items to display</p>
    </section>
    <table>
      <tbody>
        <tr>
          <td>Type</td>
          <td>AvatarMenuLinkItem[]</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>[]]</td>
        </tr>
        <tr>
          <td>Modes</td>
          <td>default</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="attribute-section">
    <section class="attribute-section-header">
      <h5>mode</h5>
      <p>The mode the component should operate in</p>
    </section>
    <table>
      <tbody>
        <tr>
          <td>Type</td>
          <td>'default' | 'simple'</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>default</td>
        </tr>
        <tr>
          <td>Modes</td>
          <td>Both</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="attribute-section">
    <section class="attribute-section-header">
      <h5>hideWhenAnonymous</h5>
      <p>
        Indicates whether the component should hide the placeholder icon when
        the user is signed out
      </p>
    </section>
    <table>
      <tbody>
        <tr>
          <td>Type</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>default</td>
        </tr>
        <tr>
          <td>Modes</td>
          <td>default</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="attribute-section">
    <section class="attribute-section-header">
      <h5>canSignIn</h5>
      <p>
        Indicates whether the component should provide a button for the user to
        sign in
      </p>
    </section>
    <table>
      <tbody>
        <tr>
          <td>Type</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>true</td>
        </tr>
        <tr>
          <td>Modes</td>
          <td>default</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="attribute-section">
    <section class="attribute-section-header">
      <h5>canSignOut</h5>
      <p>
        Indicates whether the component should provide a button for the user to
        sign out
      </p>
    </section>
    <table>
      <tbody>
        <tr>
          <td>Type</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>true</td>
        </tr>
        <tr>
          <td>Modes</td>
          <td>default</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="attribute-section">
    <section class="attribute-section-header">
      <h5>canSignUp</h5>
      <p>
        Indicates whether the component should provide a button for the user to
        sign up
      </p>
    </section>
    <table>
      <tbody>
        <tr>
          <td>Type</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>true</td>
        </tr>
        <tr>
          <td>Modes</td>
          <td>default</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="attribute-section">
    <section class="attribute-section-header">
      <h5>canViewProfile</h5>
      <p>
        Indicates whether the component should provide a button to load the
        users profile
      </p>
    </section>
    <table>
      <tbody>
        <tr>
          <td>Type</td>
          <td>boolean</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>true</td>
        </tr>
        <tr>
          <td>Modes</td>
          <td>default</td>
        </tr>
      </tbody>
    </table>
  </section>
</ion-content>
