<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-toggle>
        <ion-menu-button></ion-menu-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>String Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    As part of configuring this library you can provide a set of string
    resources that will be used as alternatives for text displayed in
    components. To do this you simply set the <em>stringRources</em> property of
    the configuration object to an instance of the StringResources interface.
    The <em>StringResrouces</em> type comprises the following properties and default values.
  </p>
  <table>
    <tbody>
      <th>Property</th>
      <th>Alternative/Translation For</th>
      <tr>
        <td>cancel</td>
        <td>Cancel</td>
      </tr>
      <tr>
        <td>email</td>
        <td>Email</td>
      </tr>
      <tr>
        <td>password</td>
        <td>Password</td>
      </tr>
      <tr>
        <td>profile</td>
        <td>Profile</td>
      </tr>
      <tr>
        <td>signIn</td>
        <td>Sign In</td>
      </tr>
      <tr>
        <td>signInFailureMessage</td>
        <td>An unexpected error occured, unable to sign you in.</td>
      </tr>
      <tr>
        <td>signInMessage</td>
        <td>Sign in with your email and password or use one of the buttons to sign in with another account provider.</td>
      </tr>
      <tr>
        <td>signInSuccessMessage</td>
        <td>You were successsfully signed in.</td>
      </tr>
      <tr>
        <td>signOut</td>
        <td>Sign Out</td>
      </tr>
      <tr>
        <td>signUp</td>
        <td>Sign Up</td>
      </tr>
      <tr>
        <td>signUpFailureMessage</td>
        <td>An unexpected error occured, unable to create an account.</td>
      </tr>
      <tr>
        <td>signUpMessage</td>
        <td>Complete and submit the form below to create an account.</td>
      </tr>
      <tr>
        <td>signUpSuccessMessage</td>
        <td>Your account was successfully created.</td>
      </tr>
    </tbody>
  </table>
</ion-content>
