<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-toggle>
        <ion-menu-button></ion-menu-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    The Sign U[] component provides a single user interface with inputs to
    create a Firebase User with email and password.
  </p>
  <h3>Try It Out</h3>
  <p>
    An instance of the Sign Up component is declared directly below this
    paragraph. The attributes you can use to control it are detailed below. Use
    the controls below to test the effect of different settings.
  </p>
  <ionngx-firebase-auth-ui-sign-up></ionngx-firebase-auth-ui-sign-up>
  <h4>Usage</h4>

  <p>This page declares the Sign Up component in the template like this</p>
  <pre>
    &lt;ionngx-firebase-auth-ui-sign-up&gt;&lt;/ionngx-firebase-auth-ui-sign-up&gt;
  </pre>
</ion-content>
